@model BatchViewModel

@{
    ViewData["Title"] = "Create Batch";
}


<form asp-action="Create">
    @await Html.PartialAsync("CreateEditFormPartialView", Model)
</form>

@section Scripts {

    <script src="~/js/CreateBatch.js"></script>
    <partial name="_ValidationScriptsPartial" />
}