@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="row justify-content-center w-100">
        <div class="col-md-10">
            <div class="card shadow-lg border-0 rounded-3 p-4 mx-auto" style="max-width: 600px;">
                <h1 class="text-center fw-bold">@ViewData["Title"]</h1>
                <h2 class="text-center">Enter your email.</h2>
                <hr />
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="mb-3">
                        <label for="email" class="form-label fw-semibold">
                            Email Address: <span class="text-danger">*</span>
                        </label>
                        <div class="input-group">
                            <span class="input-group-text bg-danger text-white"><i class="bi bi-envelope"></i></span>
                            <input asp-for="Input.Email" class="form-control form-control-lg" id="email" placeholder="name@example.com" required>
                        </div>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-danger btn-lg w-100" id="forgotButton">Reset Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<style>
    body {
        font-family: 'Roboto', sans-serif;
        background-color: #E0E0E0; /* Dark background */
    }

</style>

@section Scripts {
    <script>
        // Disable the register button after the first click
        document.getElementById("forgotButton").addEventListener("click", function (e) {
            this.disabled = true; // Disable the button
            this.innerText = "Redirecting..."; // Optionally change the button text
            this.form.submit(); // Submit the form
        });
    </script>
    <partial name="_ValidationScriptsPartial" />
}