@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="row justify-content-center w-100">
        <div class="col-md-10">
            <div class="card shadow-lg border-0 rounded-3 p-4 mx-auto" style="max-width: 600px;">
                <h1 class="text-center fw-bold">@ViewData["Title"]</h1>
                <p class="text-center">
                    Your password has been reset. Please <a asp-page="./Login" class="text-danger text-decoration-none">click here to log in</a>.
                </p>
            </div>
        </div>
    </div>
</div>

<style>
    body {
        font-family: 'Roboto', sans-serif;
        background-color: #E0E0E0; /* Dark background */
    }

</style>