<div class="hamburger-menu">
    <button class="navbar-toggler" type="button" id="sidebar-toggle">
        <span class="navbar-toggler-icon"><i class="fas fa-bars" style="color: white;"></i></span>
    </button>
</div>

<div class="sidebar" id="sidebar">
    <div class="sidebar-content">
        <div class="logo-container">
            <a href="#" class="logo-link">
                <img src="~/images/Logo1.png" alt="Company Logo" class="company-logo">
            </a>
            <div class="logo-divider"></div>
        </div>

        <ul class="nav flex-column">
            @if (User.IsInRole("Admin"))
            {
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Role" asp-action="Index">
                        <i class="fas fa-user"></i> <span>Roles</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="User" asp-action="Index">
                        <i class="fas fa-users"></i> <span>Users</span>
                    </a>
                </li>
            }

            <li class="nav-item">
                <a class="nav-link" asp-controller="Job" asp-action="Index">
                    <i class="fas fa-briefcase"></i> <span>Jobs</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Applicant" asp-action="Index">
                    <i class="fas fa-user-tie"></i> <span>Applicants</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Batch" asp-action="Index">
                    <i class="fas fa-layer-group"></i> <span>Batches</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="SyncCvs" asp-action="Index">
                    <i class="fas fa-layer-group"></i> Sync CVs
                </a>
            </li>
        </ul>
    </div>
</div>

<!-- Backdrop for mobile -->
<div class="sidebar-backdrop" id="sidebar-backdrop"></div>