
@model LoginDto

@{
    ViewData["Title"] = "Log in";
}

<div class="container d-flex justify-content-center align-items-center " style="min-height: 80vh;">
    <div class="row justify-content-center w-100">
        <div class="col-md-10">
            <!-- Card Container -->
            <div class="card shadow-lg border-0 rounded-3 p-4 mx-auto" style="max-width: 600px;">
                <!-- Account Section -->
                <div class="mb-3">
                    <h5 class="fw-bold">Already have an account?</h5>
                    <p class="text-muted">Enter your email and password (Credentials are case sensitive).</p>
                    <p class="text-muted small">
                        <span class="text-danger">*</span> indicates a required field.
                    </p>
                    <!-- Login Form -->
                    <form method="post" asp-action="Login">
                        <div class="form-floating mb-3">
                            <input asp-for="Email" class="form-control" id="inputEmail" type="email" placeholder="name@example.com" />
                            <label asp-for="Email" for="inputEmail">Email address</label>
                            <span asp-validation-for="Email"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for=" Password" class="form-control" id="inputPassword" type="password" placeholder="Password" />
                            <label asp-for=" Password" for="inputPassword">Password</label>
                            <span asp-validation-for="Password"></span>
                        </div>

                        <div class="d-flex align-items-center justify-content-between mt-4 mb-0">

                            <button class="btn btn-primary" type="submit">Login</button>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
    </div>
</div>

<style>
    body {
        font-family: 'Roboto', sans-serif;
        background-color: #E0E0E0; /* Dark background */
    }

</style>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        document.getElementById("togglePassword").addEventListener("click", function () {
            let passwordInput = document.getElementById("password");
            let icon = this.querySelector("i");
            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                icon.classList.replace("bi-eye", "bi-eye-slash");
            } else {
                passwordInput.type = "password";
                icon.classList.replace("bi-eye-slash", "bi-eye");
            }
        });
    </script>
}